.main{
    display:grid;
    place-items:center;
    height:100vh;
    background-color:hsl(185, 75%, 39%);
    background-image:url('images/bg-pattern-top.svg'),url('images/bg-pattern-bottom.svg');
    background-position:left top,right bottom;
    }
    .container{
    height:50vh;
    width:50vw;
    text-align:center;
    background-color:white;
    border-radius:20px;
    
    }
    .image{
    background-image:url('images/bg-pattern-card.svg');
    border-radius:20px 20px 0 0;
    height:150px;
    }
    .img-icon{
    border-radius:100%;
    border: 3px solid white;
    margin-top:-50px;
    margin-bottom:-20px;
    
    
    }
    .followers{
    display:flex;
    padding:20px;
    justify-content:space-around;
    }
    .flex-item{
    flex: 0 1 150px;}
    @media screen and (min-width: 670px) {
      .container {
        width:350px;
      }
    }
    @media screen and (max-width:500px) {
      .container{
        height: fit-content;
        width:80vw; 
        
      }
      
    }